# Python
__pycache__
.mypy_cache
.pytest_cache
venv
*.egg-info

# Flask
.env

# JavaScript
node_modules
dist
.parcel-cache
yarn-error.log

# Java
target

# IDE
.vscode
.idea

# Mac
.DS_Store

# SQLite
*.db
